@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lato&family=Nunito+Sans&family=Roboto&family=Roboto+Mono:wght@500&family=VT323&display=swap');

:root {
    --textColor0: #232323;
    --textColor1: #232323a8;
    --blue: #ffffff;
}



body {
    background-color: var(--blue);
    color: var(--textColor0);
    overflow-x: none;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 5.5px;
    line-height: 48px;

}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

h4 {
    font-size: 16px;
    margin: 25px;
}

a:link {
    text-decoration: none !important;
    cursor: pointer;
    color: var(--textColor1);

}

a:hover {
    border-bottom: var(--textColor1) 3px solid;

    transition: 1s;
}

.menu {
    border: none;
    background-color: transparent;
    visibility: hidden;

}

/*hamburger shows*/
@media screen and (max-width: 768px) {
    .menu {
        visibility: visible;
        position: fixed;
        top: 20px;
    }

    /*main nav bar destroying*/
    div.container-sm.mt-3.center {
        display: none;
    }
}

.menu span {
    font-size: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.downNavMenu {
    background: url(/photos/downNavBar.jpg);
    height: 350px;

}

h2 {
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 4.5px;
    line-height: 48px;
    padding-top: 80PX;
    top: -50px;

}

.mediaImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 48px;

}

.mediaH6 {
    text-align: center;
    float: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .downNavMenu {
        height: 500px;
    }

}

/*side menu**/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

a.link {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.box {
    width: 100%;
    height: 500px;
    background-color: rgb(248, 248, 248);
}

@media screen and (max-width: 768px) {
    .box {
        height: 250px;
    }
}

.image3 {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(248, 248, 248);
}

.box2 {
    width: 100%;
    height: 500px;
    background-color: rgb(248, 248, 248);
}

@media screen and (max-width: 768px) {
    .box2 {
        height: 950px;
    }

}

.image {
    width: 42.5%;
    height: 100%;
    margin-right: 2.5%;
    background-color: rgb(248, 248, 248);
    float: left;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .image {
        width: 95%;
        height: 44%;
        float: none;
        margin-top: 50px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

}

img {
    height: 100%;
    width: 100%;
}

.content {
    width: 50%;
    height: 100%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-color: rgb(248, 248, 248);
    float: left;
    font-size: 20px;

}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        height: 50%;
        float: none;
        font-size: 18px;
        margin-left: 0px;
        margin-right: 0px;

    }

}


.clear {
    clear: both;
    height: 80px;
    width: 100%;
    background-color: rgb(248, 248, 248);

}

.box3 {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .box3 {
        height: 525px;
    }

}

.image2_1 {
    width: 45%;
    height: 100%;
    background-color: brown;
    float: left;
    margin-right: 5%;
}

@media screen and (max-width: 768px) {
    .image2_1 {
        height: 250px;
        width: 100%;
        margin: auto;
    }

}

.image2_2 {
    width: 45%;
    height: 100%;
    background-color: brown;
    float: left;
    margin-left: 5%;
}

@media screen and (max-width: 768px) {
    .image2_2 {
        height: 250px;
        width: 100%;
        margin-top: 25px;
        margin: auto;
    }

}

.clear2 {
    width: 100%;
    height: 100px;
}

.clear3 {
    width: auto;
    height: 30px;
    background-color: rgb(248, 248, 248);
}