:root {
    --blue: #232323;
    --textColor0: #ffffff;
}

body {
    background-color: var(--blue);
    color: var(--textColor0);
}

.leftExtentionsMenu {

    background-color: #6b6b6b;
    color: #232323;
    width: 200px;
    position: absolute;
    height: 900px;
    margin-top: 0;
    top: -100px;

}
a{
    text-decoration: none;
    color: var(--textColor0);
}
a:hover{
    color: black;
}